
<section class="wrapper">
    <div class="container-fostrap">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4" *ngFor="let receta of recetasMerienda$ | async, let id=index, id+3" class="col columnas">
                        <div class="card">
                            <a class="img-card" href="">
                            <img [src]="receta.imagen"/>
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    {{receta.nombre}}
                                </h4>
                            </div>
                            <div class="card-read-more">
                                <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-link btn-block" data-bs-toggle="modal"[attr.data-bs-target]="'#exampleModala'+id+3">
                                        VER RECETA
                                    </button>
                                    
                                    <!-- Modal -->
                                    <div class="modal fade" [id]="'exampleModala'+id+3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h1 class="modal-title fs-5" [id]="'exampleModalLabel'+id+3">{{receta.nombre}}</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            {{receta.descripcion}}
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>