.card-read-more {
  background-color: #81BD41;
  width: 100%;
  border-radius: 0%;
  border: 0;
}

.card-body{
  padding-left: 0%;
  padding-right: 0%;
}

.card-title{
  font-weight: 500;
  font-size: 1rem;
  font-style: italic;
}

.columnas{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

}

.card{
  margin: 2rem;
}
