
<section class="wrapper">
    <div class="container-fostrap">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4" *ngFor="let receta of recetasMerienda$ | async" class="col columnas">
                        <div class="card">
                            <a class="img-card" href="">
                            <img [src]="receta.imagen"/>
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    {{receta.nombre}}
                                </h4>
                            </div>
                            <div class="card-read-more">
                                <a href="" class="btn btn-link btn-block">
                                    VER RECETA
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>