
<h1 class="h1">Recomendados para ti</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://i.pinimg.com/originals/95/88/ef/9588ef061b7bbe222a0dc57729a2fadc.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Pechuga de pollo con ensalada</h5>
                  <!-- Button trigger modal -->
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        VER RECETA
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Ingredientes</p>    
                                <li>500 gramos de pollo</li>                         
                                <li>1 cucharadita de ajo en polvo</li>
                                <li>1 cucharadita de paprika</li>
                                <li> Sal y pimienta</li>
                                <li> 1 aguacate en gajos</li>
                                <li> 4 taza de espinacas</li>
                                <li> ¼ cebolla fileteada</li>
                                <li>½ taza de jitomates cherry</li>
                                <li> 1 taza de quínoa cocida</li>
                                <li>Aderezo de cilantro y ajo</li>
                                <li> 1 diente de ajo, pelado y finamente picado</li>
                                <li>  1 ½ taza de hojas de cilantro</li>
                                <li> 1 cucharada de jugo de limón</li>
                                <li> Sal y pimienta</li>
                                <li> ¼ de taza de aceite de oliva</li>
                                
                                <tr>
                                <p>Preparacion</p>
                                    SAZONA el pollo con el ajo en polvo, paprika y sal y pimienta al gusto.
                                    CALIENTA un sartén y cocina el pollo hasta que se vea doradito, reserva.
                                    MEZCLA el aguacate, las espinacas, los jitomates, la cebolla y la quinoa.
                                    CORTA el pollo en tiras o cubos.
                                    AGREGA todos los ingredientes del aderezo a la licuadora y sirve.
                                </tr>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
              </div>
            
            <div class="card" style="width: 18rem;">
              <img src="https://tse1.mm.bing.net/th?id=OIP.OJMfo1py77SEB8t368-evAHaFh&pid=Api&P=0&h=180" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Medialunas con harina integral</h5>
                <!-- Button trigger modal -->
                <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal">
                    VER RECETA
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel2">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <li>100 gr. de lentejas (½ taza)</li>
                        <li> 1 tomate.</li>
                        <li>1 cebolla morada. </li>
                        <li>2 pimientos.</li>
                        <li>1 zanahoria.</li>
                        <li>1 rama de apio.</li>
                        <li>Kale o acelga.</li>
                        <li>2 limones .</li>
                        <li>1 cucharada de aceite de oliva.</li>
                        <li>Sal y pimienta al gusto.</li>
                        <p>Preparacion</p>
                        <li> Como cocinar las lentejas</li>
                        <p>Colocar las lentejas en remojo unas horas antes de comenzar su cocción. 
                            Pasado el tiempo retirar el agua y colocarlas en una olla al fuego en agua limpia con un poco de sal, en este momento se puede incluir orégano u hojas de laurel al agua. Cocinar por 15 minutos, no deben quedar muy blandas.
                            Pasado el tiempo escurrir el agua y dejar que las lentejas se enfríen y sequen.</p>
                            <li>Preparar la vinagreta para ensalada</li>
                            <p> En un recipiente colocar el jugo de los dos limones. Arriba incorporar 1 cdita. de aceite de oliva, pimienta y ½ cdita. de sal.
                                Mezclar e integrar todo, por último agregar la cebolla bien picada y una ramita de cilantro. Dejar en reposo.</p>
                             <li> Cómo hacer ensalada de lentejas paso a paso</li>
                             <p>Rallar la zanahoria, picar los demás ingredientes y colocarlos en un recipiente amplio. 
                                    Arriba de las verduras picadas agregar las lentejas cocidas y secas. Remover.
                                    Por último agregar la vinagreta con cebolla. Mezclar bien y servir.</p>

                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal2">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="https://www.deliciosi.com/images/2700/2726/panqueques-de-avena.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Panqueques de avena</h5>
                  <!-- Button trigger modal -->
                    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal">
                        VER RECETA
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            ...
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://recetitasfit.com/wp-content/uploads/2021/03/ensalada-de-lentejas.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ensalada de lentejas</h5>
                 <!-- Button trigger modal -->
                    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal">
                        VER RECETA
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            ...
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="http://4.bp.blogspot.com/-z_qwAWP9Ta4/U7PymxgVcnI/AAAAAAAAHag/cvKYrjSB7Ng/s1600/S%C3%A1ndwich-especial-de-at%C3%BAn-portada-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Sandwich de atun</h5>
                  <!-- Button trigger modal -->
                    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal">
                        VER RECETA
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            ...
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="https://tse2.mm.bing.net/th?id=OIP.F8oLBubfanKDQNEEGGtESAHaG-&pid=Api&P=0&h=180" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Tarta de verduras</h5>
                  <!-- Button trigger modal -->
                    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal">
                        VER RECETA
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            ...
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://3.bp.blogspot.com/-Xbl7bnyhu7k/WO2RYZCM7OI/AAAAAAAAeBM/2vrcf6F7_lEunnMuZfupamgdvmYmjVoLQCLcB/s1600/436_Gallery_2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Barritas de cereal</h5>
                  <!-- Button trigger modal -->
                    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal">
                        VER RECETA
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            ...
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="https://tse2.mm.bing.net/th?id=OIP.sHqX-DZsKp0MLPf7vrJiEAHaD6&pid=Api&P=0&h=180" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Muffins de verduras</h5>
                 <!-- Button trigger modal -->
                    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal">
                        VER RECETA
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            ...
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="https://img-global.cpcdn.com/recipes/464f2adb20b909cd/1200x630cq70/photo.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Fideos de morron</h5>
                  <!-- Button trigger modal -->
                    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal">
                        VER RECETA
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            ...
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>




