<div class="mb-3 contacto">
    <label for="exampleFormControlInput1" class="form-label">Correo electronico</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">

    <label for="exampleFormControlInput1" class="form-label">Nombre</label>
    <input type="nombre" class="form-control" id="exampleFormControlInput2" placeholder="">

    <label for="exampleFormControlInput1" class="form-label">Telefono</label>
    <input type="telefono" class="form-control" id="exampleFormControlInput3" placeholder="">

    <select class="form-select" aria-label="Default select example">
        <option selected>Motivo del contacto</option>
        <option value="1">Felicitaciones</option>
        <option value="2">Consultas</option>
        <option value="3">Propuesta comercial</option>
        <option value="4">Reclamo</option>
        <option value="5">Solicitud de empleo</option>
      </select>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
