<app-navbar></app-navbar>
<div>
  <div>
    <div>
      <tr>
        <td>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
              <h1>SOBRE NUTRIPLAN</h1>
              <p>
              Este proyecto se enfoca en la creación de un sitio web dinámico llamado
              "Nutriplan", diseñado para aquellos interesados en adoptar hábitos de
              alimentación saludable, con el objetivo principal de promover un estilo de
              vida más saludable. Propuesto como parte de las Prácticas Profesionalizantes
              por el Centro de Educación Técnica N°30, el proyecto busca mejorar la
              alimentación y la calidad de vida del público en general mediante el
              desarrollo de una aplicación web.
              <br>
              <br>
              La aplicación, concebida por el equipo
              conformado por Jesús Guajardo, Valentina Romero, Valentina Ortiz, Gonzalo
              Herrera y Fernanda Sapuri, ofrecerá información, sugerencias y recetas para
              mejorar la alimentación. Requiere registro de usuarios y contará con
              notificaciones para ayudar a los usuarios a mantenerse en movimiento y
              adoptar una buena alimentación para una vida mejor. Nutriplan no es
              simplemente un sitio web; es una plataforma dinámica y completa que redefine
              la manera en que abordamos nuestra relación con la alimentación y la salud.
              Desde el registro inicial hasta las notificaciones diarias, cada aspecto de
              esta aplicación está meticulosamente diseñado para inspirar y apoyar a sus
              usuarios en su viaje hacia un estilo de vida más saludable y equilibrado.
              <br>
              <br>
              Con una interfaz intuitiva y atractiva, la aplicación no solo informa, sino
              que educa y empodera, proporcionando las herramientas necesarias para que
              cada individuo pueda tomar decisiones informadas sobre su alimentación y
              bienestar general. Imaginate Nutriplan como tu amigo virtual que te ayuda a
              adoptar hábitos de alimentación saludable sin complicaciones. Acá
              encontrarás consejos sencillos para mejorar tu comida diaria. Podés
              encontrar información nutricional, recibir sugerencias de exquicítas
              recetas, ¡animate a probarlo!
            </p>
          </td>
          <td>
            <br>
            <br>
            <br>
            <br>
        </tr>

    </div>
  </div>
</div>
<app-footer></app-footer>
