<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-mb-6">
      <tr>
        <th>
          <div class="mb-6 contacto">
          <label for="exampleFormControlInput1" class="form-label">Correo electronico</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              
    
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="">
    
        <label for="exampleFormControlInput1" class="form-label">Telefono</label>
        <input type="number" class="form-control" id="exampleFormControlInput3" placeholder="">
    
        <label for="">Motivo del contacto</label>
        <select class="form-select" aria-label="Default select example">
          <option value=""></option>
            <option value="1">Felicitaciones</option>
            <option value="2">Consultas</option>
            <option value="3">Propuesta comercial</option>
            <option value="4">Reclamo</option>
            <option value="5">Solicitud de empleo</option>
          </select>
      </div>
      <div class="mb-6">
        <label for="exampleFormControlTextarea1" class="form-label">Descripcion</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
     </th>
    </div>


    <div class="col-mb-6">
      <th>
        <img src="" alt="">
       </th>
    </div>
    </div>
  </div>
  <app-footer></app-footer>



