<section class="wrapper">
    <div class="container-fostrap">
        <div class="content">
            <div class="container">
                <div class="row">
                    <!-- Aquí se itera sobre las recetas de desayuno y se crean las tarjetas. -->
                    <div *ngFor="let receta of recetasAlmuerzo$ | async" class="col columnas">
                        <div class="card" style="width: 18rem;">
                            <img [src]="receta.imagen" style="width: 18rem; height: 12rem;" class="card-img-top" alt="imagen receta">
                            <div class="card-body">
                              <h5 class="card-title">{{receta.nombre}}</h5>
                              <a href="#" class="btn btn-secondary card-read-more">Ver Receta</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>