
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  height: 400px;
}

.carrusel {
  margin: 0;
  border-radius: 50px;
}

.button_Horarios {
  background-color: #77AF3C;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px auto;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  margin: 50px;
}

.botones {
  display: flex;
  flex-wrap: wrap; /* Permite que los botones se ajusten al ancho del contenedor */
  justify-content: center; /* Centra los botones horizontalmente */
  align-items: center; /* Centra los botones verticalmente */
  gap: 20px; /* Espacio entre botones */
}

/* Media queries */
@media (max-width: 768px) {
  .carousel-item {
    height: 200px;
  }

  .button_Horarios {
    font-size: 12px;
    padding: 0.3rem 0.6rem;
    margin: 20px;
  }

  .botones {
    margin-top: 0;
  }
}

@media (max-width: 480px) {
  .carousel-item {
    height: 150px;
  }

  .button_Horarios img {
    width: 80px;
    height: 80px;
  }

  .button_Horarios {
    font-size: 10px;
    padding: 0.2rem 0.4rem;
    margin: 10px;
  }

  .texto {
    font-size: 18px;
  }
}
