.container{
    height: 50;
    width: 50px;    
}
.carousel-item{
    height: 400px;
    
} 

.carrusel { 
    margin-top: 7%;
    margin-bottom: 20%;
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 50px;
}

.button_Horarios {
    background-color: #77AF3C;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px auto;
    padding: 0.5rem 1rem;
    border-radius: 60px;
    border: none;
    margin: 5px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .vertical-center {
    position: absolute;
  }

  