@import url('https://db.onlinewebfonts.com/c/800e985f75a5a56c2f7b4be502d286de?family=Burbank+Big+Condensed+Bold');
*{
  font-family: "Burbank Big Condensed Bold";
}
.container{
    height: 50;
    width: 50px;    
}
.carousel-item{
    height: 400px;
    
} 

.carrusel { 
    margin-top: 0;
    margin-bottom: 15%;
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 50px;
}

.carrusel {
  padding-top: 0;
}

.button_Horarios {
    background-color: #77AF3C;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px auto;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    margin: 50px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .botones {
    display: flex; 
    margin-bottom: 100%;
    margin-top: -700%;
  }


