<app-navbar></app-navbar>
<div style="font-family: 'Burbank Big Condensed Bold';" class="loguearse ">
    <div class="wrapper">
        <div class="form-box login">
            <h2 style="font-family: 'Burbank Big Condensed Bold';">Iniciar sesión</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon"></span>
                    <input [(ngModel)]="usuarios.email" name="email" type="email" class="login__input" required>
                    <label for="">Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"></span>
                    <input [(ngModel)]="usuarios.password" name="password" type="password" class="login__input" required>
                    <label for="">Contraseña</label>
                </div>
                <button (click)="iniciar()" class="button login__submit btn" type="submit">
					<span class="button__text">INGRESAR</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>	
                <div class="login-register">
                    <p>No tienes una cuenta? <a routerLink="/register">Registrarse</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>