<!DOCTYPE html>
<html lang="en">
<body>  
  
  <header>
    <div class="wrapper">
        <div class="form-box login">
            <h2>Login</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon"></span>
                    <input type="email" required>
                    <label for="">Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"></span>
                    <input type="password" required>
                    <label for="">Contraseña</label>
                </div>
                <div class="remember-forgot">
                    <label for="">
                        <input type="checkbox">
                        Recordarme
                    </label>
                    <a href="#">Olvido su contraseña?</a>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="login-register">
                    <p>No tienes una cuenta?<a href="#" class="register-link">Registrarse</a></p>
                </div>
            </form>
        </div>
    </div>
  </header>

</body>


</html>
