<section class="wrapper">
    <div class="container-fostrap">
        <div class="content">
            <div class="container">
                <div class="row">
                    <!-- Aquí se itera sobre las recetas de desayuno y se crean las tarjetas. -->
                    <div *ngFor="let receta of recetasDesayuno$ | async" class="col-xs-12 col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img [src]="receta.imagen" class="card-img-top" [alt]="receta.alt" />
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="">{{ receta.nombre }}</a>
                                </h4>
                                <p class="card-text">{{ receta.descripcion }}</p>
                            </div>
                            <div class="card-read-more">
                                <a href="" class="btn btn-link btn-block">
                                    VER RECETA
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>