<header>
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="logo"><img src="./assets/logo-nutriplan2.png" alt="" id="logo1"></h2>
        </div>
        <div class="col-11 texto">
          <nav class="navigation">
            <a href="" id="inicio">INICIO</a>

            <a href="" id="recetas">RECETAS</a>
            <a href="" id="favoritos">FAVORITOS</a>
            <a routerLink="/contacto" href="" id="nosotros" >NOSOTROS</a>
            <a class="btnLogin-popup" routerLink="/login">LOGIN</a>

          </nav>                                                                             
        </div>

      </div>
    </div>
</header>
