
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-item a{
    color: white;
}
.nav-item{
    font-size: 0.9rem;
    font-weight: 500;
}

.navbar{
    width: 100%;
}
.container-fluid{
    background-color: #222121;
    padding: 1rem;
    width: 100%;
}

.container-fluid a {
    margin-right: 1rem;
}


.mi-boton {
    display: block;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease; /* Transición suave al pasar el mouse */
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
}
/* Estilo al pasar el mouse sobre el botón */
.mi-boton:hover {
    color: #77af3c;
}

#logo {
    padding-left: 1em;
}

.nav-link {
    margin: 1rem;
}



  
  
  
  