
    <header>
      <div class="container-xl">
        <div class="row">
          <div class="col">
            <h2 class="logo">
              <img src="./assets/logo-nutriplan2.png" alt="" id="logo1" />
            </h2>
          </div>
          <div class="col-10">
            <nav class="navigation">
              <a href="" routerLink="/inicio" id="inicio">INICIO</a>
              <a href="" routerLink="/inicio" id="recetas">RECETAS</a>
              <a href="" routerLink="/inicio" id="favoritos">FAVORITOS</a>
              <a href="" routerLink="/inicio" id="nosotros">NOSOTROS</a>
              <button class="btnLogin-popup">LOGIN</button>
            </nav>
          </div>
        </div>
      </div>
    </header>