.footer {
  width: 100%;
  background-color: #81BD41;
}

body {
  background: #ff5f6d;
  background: -webkit-linear-gradient(to right, #00001a, #00004d);
  background: linear-gradient(to right, #00001a, #00004d);
  min-height: 100vh;
}

#button-addon1 {
  color: #ffc371;
}

i {
  color: #000000;
  font-size: 20px;}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

