<footer class="bg-white footer">
  <div class="container-fluid py-5">
    <div class="row py-3 texto34">
  
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">Acerca de</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a href="/contacto" class="text-muted">Sobre nosotros</a></li>
        </ul>
      </div>
  
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">MENU</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a href="/inicio" class="text-muted">Inicio</a></li>
          <li class="mb-2"><a href="/recetas" class="text-muted">Recetas</a></li>
        </ul>
      </div>
      
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">Política</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a href="#" class="text-muted">Términos de uso</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">COMPAÑIA</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a href="/login" class="text-muted">Iniciar sesión</a></li>
          <li class="mb-2"><a href="/register" class="text-muted">Registrarse</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-lg-0">
        <h6 class="text-uppercase font-weight-bold mb-4">NUTRIPLAN</h6>
        <p class="text-muted mb-4">Paraguay 1050 - Cipolletti - Rio Negro</p>
        <ul class="list-inline mt-4">
          <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fab  fa-2x fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fab fa-2x fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fab fa-2x fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fab fa-2x fa-youtube"></i></a></li>
          <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fab fa-2x fa-google"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="p-0 m-0 b-0">
  
</footer>
