


<div class="footer">
    <div
      class="nutri-plan-is-a-free-use-service-the-nutri-plan-service-is-owned-by-nutri-plan-inc-argentina-s-a-tucum-n-1-piso-4-c-1049-aaa-autonomous-city-of-buenos-aires-argentina-and-cuit-number-30-63984459-1"
    >
      NutriPlan is a free-use service. The NutriPlan service is owned by
      NutriPlan, Inc. (Argentina) S.A., Tucumán 1, Piso 4º (C1049AAA) Autonomous
      City of Buenos Aires, Argentina and CUIT number 30-63984459-1
    </div>
    <div class="frame-16">
      <img class="logo" src="/src/assets/NUTRIPLAN-NEGRO.png" width="20px">
      <div class="frame-12">
        <div class="frame-14">
          <div class="servicio">Servicio</div>
          <div class="inicio-qui-nes-somos">
            Inicio<br /><br />Quiénes somos<br /><br />Configuración<br /><br />Contacto<br /><br />
          </div>
        </div>
        <div class="frame-9">
          <div class="categor-as">Categorías</div>
          <div class="inicio-qui-nes-somos2">
            Desayuno<br /><br />Almuerzo<br /><br />Merienda<br /><br />Cena
          </div>
        </div>
        <div class="frame-11">
          <div class="legal">Legal</div>
          <div class="inicio-qui-nes-somos2">
            Términos de Uso<br /><br />Política de Privacidad<br /><br />Cookies
          </div>
        </div>
        <div class="frame-10">
          <div class="contacto">Contacto</div>
          <div class="horario">
            <svg
              class="icons-24-p-outline-time"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 6V12L15 15"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
  
            <div class="inicio-qui-nes-somos3">
              Lunes a Viernes<br />09:00 a 20:00 horas
            </div>
          </div>
          <div class="mail">
            <svg
              class="icons-24-p-outline-mail"
              width="27"
              height="24"
              viewBox="0 0 27 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.44898 4H22.2449C23.4684 4 24.4694 4.9 24.4694 6V18C24.4694 19.1 23.4684 20 22.2449 20H4.44898C3.22551 20 2.22449 19.1 2.22449 18V6C2.22449 4.9 3.22551 4 4.44898 4Z"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M24.4694 6L13.3469 13L2.22449 6"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
  
            <div class="mail2">contacto@nutriplan.com.ar</div>
          </div>
          <div class="group-222">
            <svg
              class="icons-24-p-fill-phone"
              width="27"
              height="27"
              viewBox="0 0 27 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_2_123)">
                <path
                  d="M7.09395 11.7852L6.83722 12.0419L7.00187 12.3655C8.67025 15.6443 11.357 18.3189 14.6333 19.9975L14.9573 20.1635L15.2148 19.9061L17.6898 17.4311C17.859 17.2619 18.109 17.2076 18.3216 17.2805L18.3216 17.2805L18.3269 17.2823C19.6374 17.7152 21.0516 17.9488 22.5 17.9488C22.8426 17.9488 23.125 18.2311 23.125 18.5738V22.5C23.125 22.8426 22.8426 23.125 22.5 23.125C12.2124 23.125 3.875 14.7876 3.875 4.5C3.875 4.15739 4.15739 3.875 4.5 3.875H8.4375C8.78011 3.875 9.0625 4.15739 9.0625 4.5C9.0625 5.95841 9.29566 7.35999 9.72768 8.66913C9.79668 8.89225 9.74568 9.13346 9.56895 9.3102L7.09395 11.7852Z"
                  fill="black"
                  stroke="black"
                />
              </g>
              <defs>
                <clipPath id="clip0_2_123">
                  <rect width="27" height="27" fill="white" />
                </clipPath>
              </defs>
            </svg>
  
            <div class="inicio-qui-nes-somos4">123 456 789</div>
          </div>
          <div class="group-223">
            <svg
              class="icons-24-p-fill-phone2"
              width="27"
              height="27"
              viewBox="0 0 27 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_3_20)">
                <path
                  d="M7.09395 11.7852L6.83722 12.0419L7.00187 12.3655C8.67025 15.6443 11.357 18.3189 14.6333 19.9975L14.9573 20.1635L15.2148 19.9061L17.6898 17.4311C17.859 17.2619 18.109 17.2076 18.3216 17.2805L18.3216 17.2805L18.3269 17.2823C19.6374 17.7152 21.0516 17.9488 22.5 17.9488C22.8426 17.9488 23.125 18.2311 23.125 18.5738V22.5C23.125 22.8426 22.8426 23.125 22.5 23.125C12.2124 23.125 3.875 14.7876 3.875 4.5C3.875 4.15739 4.15739 3.875 4.5 3.875H8.4375C8.78011 3.875 9.0625 4.15739 9.0625 4.5C9.0625 5.95841 9.29566 7.35999 9.72768 8.66913C9.79668 8.89225 9.74568 9.13346 9.56895 9.3102L7.09395 11.7852Z"
                  fill="#77AF3C"
                  stroke="#77AF3C"
                />
              </g>
              <defs>
                <clipPath id="clip0_3_20">
                  <rect width="27" height="27" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
        </div>
      </div>
      <div class="redes-sociales">
      </div>
      <div class="licencia">
        <div class="t-rminos">
          <svg
            class="copyright"
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6 10.125C8.27817 10.125 10.125 8.27817 10.125 6C10.125 3.72183 8.27817 1.875 6 1.875C3.72183 1.875 1.875 3.72183 1.875 6C1.875 8.27817 3.72183 10.125 6 10.125Z"
              stroke="black"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M7.37505 7.03131C7.15857 7.31983 6.8568 7.53293 6.51249 7.64043C6.16817 7.74793 5.79876 7.74438 5.45658 7.63028C5.1144 7.51619 4.81678 7.29732 4.60588 7.0047C4.39499 6.71207 4.2815 6.3605 4.2815 5.9998C4.2815 5.63909 4.39498 5.28753 4.60587 4.99489C4.81676 4.70226 5.11438 4.4834 5.45656 4.3693C5.79874 4.25519 6.16815 4.25164 6.51247 4.35914C6.85678 4.46663 7.15855 4.67973 7.37504 4.96825"
              stroke="black"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
  
          <div class="_2023-nutri-plan-inc-all-rights-reserved">
            2023 NutriPlan Inc. All rights reserved
          </div>
        </div>
      </div>
    </div>
  </div>
  

