
body {
    display: inline-flex;
    padding: 0px 290px 0px 289px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #77AF3C;
}

.footer,
.footer * {
  box-sizing: border-box;
}
.footer {
  background: #77af3c;
  width: 1456px;
  height: 505px;
  position: relative;
  overflow: hidden;
}
.nutri-plan-is-a-free-use-service-the-nutri-plan-service-is-owned-by-nutri-plan-inc-argentina-s-a-tucum-n-1-piso-4-c-1049-aaa-autonomous-city-of-buenos-aires-argentina-and-cuit-number-30-63984459-1 {
  color: #000000;
  text-align: center;
  font: 500 8px "Baloo 2", sans-serif;
  position: absolute;
  left: 504px;
  top: 410px;
  width: 441px;
}
.frame-16 {
  display: flex;
  flex-direction: column;
  gap: 39px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 284px;
  top: 0px;
}
/*.logo {
  flex-shrink: 0;
  width: 74px;
  height: 69px;
  position: relative;
}*/
.frame-12 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-14 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.servicio {
  color: #000000;
  text-align: left;
  font: 700 16px/26px "Baloo 2", sans-serif;
  position: relative;
}
.inicio-qui-nes-somos {
  color: var(--dark, #0a142f);
  text-align: left;
  font: var(--typo-heading-06, 500 16px "Barlow", sans-serif);
  opacity: 0.699999988079071;
  position: relative;
  width: 151px;
  height: 136px;
}
.frame-9 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.categor-as {
  color: #000000;
  text-align: left;
  font: 700 16px/26px "Baloo 2", sans-serif;
  position: relative;
}
.inicio-qui-nes-somos2 {
  color: var(--dark, #0a142f);
  text-align: left;
  font: var(--typo-heading-06, 500 16px "Barlow", sans-serif);
  opacity: 0.699999988079071;
  position: relative;
  width: 162px;
}
.frame-11 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.legal {
  color: #000000;
  text-align: left;
  font: 700 16px/26px "Baloo 2", sans-serif;
  position: relative;
}
.frame-10 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 262px;
  height: 158px;
  position: relative;
}
.contacto {
  color: #000000;
  text-align: left;
  font: 700 16px/26px "Baloo 2", sans-serif;
  position: relative;
}
.horario {
  flex-shrink: 0;
  width: 196px;
  height: 38px;
  position: static;
}
.icons-24-p-outline-time {
  position: absolute;
  left: 0px;
  top: 33px;
  overflow: visible;
}
.inicio-qui-nes-somos3 {
  color: var(--dark, #0a142f);
  text-align: left;
  font: var(--typo-heading-06, 500 16px "Barlow", sans-serif);
  opacity: 0.699999988079071;
  position: absolute;
  left: 34px;
  top: 26px;
  width: 162px;
}
.mail {
  flex-shrink: 0;
  width: 196px;
  height: 40px;
  position: static;
}
.icons-24-p-outline-mail {
  position: absolute;
  left: 0px;
  top: 64px;
  overflow: visible;
}
.mail2 {
  color: var(--dark, #0a142f);
  text-align: left;
  font: var(--typo-heading-06, 500 16px "Barlow", sans-serif);
  opacity: 0.699999988079071;
  position: absolute;
  left: 34px;
  top: 66px;
  width: 162px;
}
.group-222 {
  flex-shrink: 0;
  width: 196px;
  height: 27px;
  position: static;
}
.icons-24-p-fill-phone {
  position: absolute;
  left: 0px;
  top: 104px;
  overflow: visible;
}
.inicio-qui-nes-somos4 {
  color: var(--dark, #0a142f);
  text-align: left;
  font: var(--typo-heading-06, 500 16px "Barlow", sans-serif);
  opacity: 0.699999988079071;
  position: absolute;
  left: 34px;
  top: 108px;
  width: 162px;
}
.group-223 {
  flex-shrink: 0;
  width: 27px;
  height: 27px;
  position: static;
}
.icons-24-p-fill-phone2 {
  position: absolute;
  left: 0px;
  top: 131px;
  overflow: visible;
}
.redes-sociales {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.instagram {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.x {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.you-tube {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.facebook {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.licencia {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.t-rminos {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.copyright {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._2023-nutri-plan-inc-all-rights-reserved {
  color: #000000;
  text-align: left;
  font: 500 11px "Baloo 2", sans-serif;
  position: relative;
}

.footer {
    justify-content: center;
}
