<div class="container">
    <div class="row">
        <div class="col separacion">
            <div class="wrapper">
                <div class="form-box register">
                    <h2>Registrarse</h2>
                    <form action="#">
                          <div class="input-box">
                          <span class="icon"></span>
                          <input type="email" required>
                          <label for="">Usuario</label>
                          </div>
                        <div class="input-box">
                            <span class="icon"></span>
                            <input type="email" required>
                            <label for="">Email</label>
                        </div>
                        <div class="input-box">
                            <span class="icon"></span>
                            <input type="password" required>
                            <label for="">Contraseña</label>
                        </div>
                        <div class="remember-forgot">
                            <label for="">
                                <input type="checkbox">
                                Acepto los terminos y condiciones
                            </label>
                        </div>
                        <button type="submit" class="btn">Registrarse</button>
                        <div class="login-register">
                            <p>Ya tienes una cuenta? <a routerLink="/login">Iniciar sesión</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
