<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col separacion">
            <div class="wrapper">
                <div class="form-box register">
                    <h2>Registrarse</h2>
                    <form action="#">
                          <div class="input-box">
                          <input [(ngModel)]="usuarios.nombre" type="text" required>
                          <label for="">Usuario</label>
                          </div>
                        <div class="input-box">
                            <input id="email" [(ngModel)]="usuarios.email" type="email" name="email" required>
                            <label for="email">Email</label> 
                        </div>
                        <div class="input-box">
                            <input id="password" [(ngModel)]="usuarios.password" name="password" [type]="hide ? 'password' : 'text'" minlength="6" required>
                            <label for="password">Contraseña</label>
                        </div>
                        <button type="submit" class="btn" (click)="registrarse()">Registrarse</button>
                    </form>
                    <div class="login-register">
                        <p>Ya tienes una cuenta? <a routerLink="/login">Iniciar sesión</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>