<p>recetas works!</p>
<div>
    <p>
        espacio
        <br>
        espacio
        <br>
        espacio
        <br>
        espacio
        <br>
        espacio
        <br>
        espacio
        <br>
        espacio
        <br>
        espacio
        <br>
        espacio
        <br>
        espacio
        <br>
        espacio
        <br>
        espacio
        <br>
        espacio
        <br>
        espacio
    </p>
    <button class="button_Horarios"><img src="../../../assets/breakfast-icon.png" width="50px" height="50px"></button>
    <button class="button_Horarios"><img src="../../../assets/lunch-icon.png" width="50px" height="50px"></button>
    <button class="button_Horarios"><img src="../../../assets/snack-icon.png" width="50px" height="50px"></button>
    <button class="button_Horarios"><img src="../../../assets/dinner-icon.png" width="50px" height="50px"></button>
</div>