<app-navbar></app-navbar>
<section class="wrapper">
    <div class="container-fostrap">
        <div class="content">
            <div class="container">
                <div class="row">
                    <h1 class="titulocards">DESAYUNO</h1>
                    <app-desayunos></app-desayunos>
                    <h1 class="titulocards">ALMUERZO</h1>
                    <app-almuerzos></app-almuerzos>
                    <h1 class="titulocards">MERIENDA</h1>
                    <app-meriendas></app-meriendas>
                    <h1 class="titulocards">CENA</h1>
                    <app-cenas></app-cenas>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>