<p>recetas works!</p>
<div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="vertical-center">
            <button class="button_Horarios"><img src="../../../assets/breakfast-icon.png" width="180px" height="180px"></button>
            <button class="button_Horarios"><img src="../../../assets/lunch-icon.png" width="180px" height="180px"></button>
            <button class="button_Horarios"><img src="../../../assets/snack-icon.png" width="180px" height="180px"></button>
            <button class="button_Horarios"><img src="../../../assets/dinner-icon.png" width="180px" height="180px"></button>
          </div>
          <br>
          <br>
          <br>
    </div>
</div>